!!! 5
//
  |
  |      /.\                                     ||`
  |     // \\                            ''      ||
  |    //...\\    `||''|,  .|''|, (''''  ||  .|''||  .|''|,
  |   //     \\    ||  ||  ||  ||  `'')  ||  ||  ||  ||..||
  |.//       \\. .||  ||. `|..|' `...' .||. `|..||. `|...
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='shortcut icon', href='http://anoside.com:8080/favicon.png')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/less/base.less')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/less.js/1.1.3/less-1.1.3.min.js')
  body
    .topbar
      .topbar-inner
        .container
          h3
            a(href='/') Anoside
          ul.nav.secondary-nav
            - if (user)
              li
                a(href='/explore') タグ一覧
              li.dropdown(data-dropdown='dropdown')
                a(href='#', class='dropdown-toggle') メニュー
                ul.dropdown-menu
                  li
                    a(href='/about') このサイトについて
                  li.divider
                  li
                    a(href='/signout') ログアウト
            - else
              li
                a(href='/signup') ユーザ登録
              li
                a(href='/signin') ログイン
              li.dropdown(data-dropdown='dropdown')
                a(href='#', class='dropdown-toggle') メニュー
                ul.dropdown-menu
                  li
                    a(href='/about') このサイトについて
    .container
      != body
      footer

    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/json2/20110223/json2.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js')
    script(src='http://anoside.com:8080/javascripts/vendor/jquery.timeago.js')
    script(src='http://anoside.com:8080/javascripts/vendor/socket.io.min.js')
    script(src='/javascripts/vendor/require.js', data-main='/javascripts/application')
