!!! 5
//
  |
  |      /.\                                     ||`
  |     // \\                            ''      ||
  |    //...\\    `||''|,  .|''|, (''''  ||  .|''||  .|''|,
  |   //     \\    ||  ||  ||  ||  `'')  ||  ||  ||  ||..||
  |.//       \\. .||  ||. `|..|' `...' .||. `|..||. `|...
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/base.css')
    script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7047321-11']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    .topbar
      .topbar-inner
        .container
          h3
            a(href='/') Anoside
          ul.nav.secondary-nav
            - if (user)
              li
                a(href='/explore') タグ一覧
              li.dropdown(data-dropdown='dropdown')
                a(href='#', class='dropdown-toggle') メニュー
                ul.dropdown-menu
                  li
                    a(href='/about') このサイトについて
                  li.divider
                  li
                    a(href='/signout') ログアウト
            - else
              li
                a(href='/signup') ユーザ登録
              li
                a(href='/signin') ログイン
              li.dropdown(data-dropdown='dropdown')
                a(href='#', class='dropdown-toggle') メニュー
                ul.dropdown-menu
                  li
                    a(href='/about') このサイトについて
    .container
      != body
      footer

    script(src='/javascripts/vendor/json2.js')
    script(src='http://code.jquery.com/jquery-1.7.1.min.js')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js')
    script(src='/javascripts/vendor/jquery.timeago.js')
    script(src='http://twitter.github.com/bootstrap/1.4.0/bootstrap-dropdown.js')
    script(src='/javascripts/vendor/underscore-min.js')
    script(src='/javascripts/vendor/backbone-min.js')
    script(src='/javascripts/vendor/socket.io.min.js')
    script(src='/javascripts/vendor/require.js', data-main='/javascripts/application')
