#tags-show.content
  .page-header
    h1 タグ: #{tag.name}
  .row
    .span16
      .post-component
        input(class='csrf', name='_csrf', type='hidden', value='#{csrfToken}')
include ../includes/_timeline
