#about.content
  .page-header
    h1 このサイトについて
  .row
    .span16
      h2 運用情報
      p Anosideの運用情報などはTwitterとブログでお知らせしています。
      ul
        li Twitter: <a href="https://twitter.com/anoside">@anoside</a>
        li ブログ: <a href="http://blog.anoside.com">blog.anoside.com</a>

      h2 運営者
      p <a href="https://twitter.com/bojovs">@bojovs</a>が個人で開発、運営しています。

      h2 お問い合わせ
      p Twitterやメールからお問い合わせください。
      ul
        li Twitter: <a href="https://twitter.com/anoside">@anoside</a>, <a href="https://twitter.com/bojovs">@bojovs</a>
        li メール: anosideweb[あっと]gmail.com