#explore.content
  .page-header
    h1 タグ一覧 
  .row
    .span16
      - if (tags.length > 0)
        ol#tags
          - each tag in tags
            li
              a(href='/t/' + tag.name)= tag.name
