- if (user)
  #home.container
    .row
      .span4
        ul
          li タグ1
          li タグ2
      .span12
        .page-header.home-header
          h1 今なにしてます?
          form
            textarea(id='post')
            button(id='create', class='btn primary') 投稿
        #timeline
          ul
  include ../includes/_timeline

- else
  #front.container
    .span16
      h1 つぶやきにくい話、ありませんか?
      p
        「Anoside」は匿名でつぶやきが投稿できるWebサービスです。
