- if (user)
  #home.content
    .page-header.home-header
      h1 今なにしてます?
      form
        input(class='csrf', name='_csrf', type='hidden', value='#{csrfToken}')
        textarea(id='post')
        button(id='create', class='btn primary') 投稿
    .row
      .span12
        #timeline
          ul
  include ../includes/_timeline

- else
  #front.content
    .row
      .span16
        h1 つぶやきにくい話、ありませんか?
        p
          「Anoside」は匿名でつぶやきが投稿できるWebサービスです。
